*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* ESTILOS PARA EL BANNER PRINCIPAL */
.banner{
    background-color: #B1DEEC;
    width: 100%; 
    height: 230px;
    display: flex;
}
.banner-container {
    width: 100%;
    height: auto;
}
.banner-container h1 {
    margin: 40px auto;
    text-align: center;
    color: white;
}
.logo {
    width: 100px;
    height: 100px;
    background-image: url("./img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50px;
}
.logo:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
    cursor: pointer; 
}

/* ESTILOS PARA EL MENU DE NAVEGACIÓN */
.navegation {
    width: 100%;
}
.navegation-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.navegation-content-item {
    padding: 0 30px;
    list-style: none;  
}
.navegation-content-item:hover{
    /* -webkit-transform:scale(1.5);
    transform:scale(1.5); */
    font-size: 30px;
    cursor: pointer;
}
.navegation-content-item a {   
    text-decoration: none;
    color: #B1DEEC;
    font-size: 17px;
}
.navegation-content-item a:hover {
    color:green;
    cursor: pointer;
    
}

