*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Varela round', sans-serif;
}
/* ESTILOS PARA EL BANNER PRINCIPAL */
.banner{
    /* background-color: #B1DEEC !important; */
    /* width: 100%;  */
    min-width: 320px; 
    height: 230px;
    display: flex;
}
.banner-container {
    width: 100%;
    height: 100%;
}
   
/* ESTILOS PARA EL MENU DE NAVEGACIÓN */
.navegation {
    margin-top: 100px;
    width: 100%;
}
.navegation-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.navegation-content-item {
    padding: 0 30px;
    list-style: none;  
}
.navegation-content-item:hover{
    /* -webkit-transform:scale(1.5);
    transform:scale(1.5); */
    cursor: pointer;
}
.navegation-content-item a {   
    text-decoration: none;
    color: #B1DEEC;
    font-size: 22px;
    font-family: Varela round;
}
.navegation-content-item a:hover {
    color:rgb(78, 78, 78);
    cursor: pointer;
    
}
button {
    border: none;
    background-color: none;
}

/* ESTILOS PARA LA GALERIA1 */
.carousel-inner img  {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    left: 300px;
    right: 100px;
    border: 3px;
    background-position: center;
    
    }   

.carousel-control-next {
    filter: invert(100%);
    margin-right: 270px;
    
    } 

.carousel-control-prev {
    filter: invert(100%);
    margin-left: 270px;
    
}   

.carousel-indicators {
    filter: invert(100%);
    
    
    } 




/* ESTILOS CUERPO */
/* .section-one {
    width:100%;
    height: 1000px;
    display: flex;
} */

.img-section-one {
    width: 70%;
    height:600px;
    background-image: url("./img/img-section-one.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
}
.about-us {
    /* margin-top: 50px; */
    margin: 50px 0; 
    background-color: #B1DEEC;
    width: 100%;
    height: 300px;
}
.about-us-content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: white;
}
.about-us-content-title{
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size:25px;
}
.about-us-content-item {
    letter-spacing: 2px;  
    font-size: 18px; 
}
.about-us-content-button {
    text-transform: uppercase;
    margin-top: 20px;
    padding: 12px 35px;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    background-color: inherit;
}
.about-us-content-button:hover {
    cursor: pointer;
    color: black;
    background-color: white;

}
.btn-container {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 10px; 
}
.btn-banner {
    padding: 10px;
    margin: 0 7px 0 7px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 17px;
}
.btn-banner:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
.btn-banner-content {
    text-decoration: none;
    color: inherit
} 

/* ESTILOS FORMULARIO */
.body2{
    background-image: linear-gradient(#64c8e6, #1b2ceb);    
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 925px;
    font-family: 'Roboto', sans-serif;   
    font-size: 20px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border-radius: 8px;
  border: 2px solid black;
  background-color: transparent;
}
input[type=text]::placeholder {
    color: black;
    font-weight: bold;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
form label {
    margin: 0.3rem;
    color: white;
}
input[type=email] {
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: transparent;
}
input[type=email]::placeholder {
    color: black;
    font-weight: bold;
}

input[type=password] {
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: transparent;
}
input[type=password]::placeholder {
    color: black;
    font-weight: bold;
}
.content-form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  height: 80%;
  /* border: 2px solid white; */
  border-radius: 7px;
  background-color: transparent;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px #000000;
}
h3 {
  color: black;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  text-align:center;
  margin-bottom: 1.5em;
}
.bnt-return {
  width:100%;
  border: none;
  font-size: 20px;
  list-style: none;
  padding: 20px;
  color: white;
  background-color: #45a049
}
#btn-submit-form {
    width: 50%; 
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 17px;
}
#btn-submit-form:hover {
    background-color:white;
    color: black;
    opacity: 0.8;
}
.bnt-return-container{
    display: flex;
    width:50%;
    /* margin: 0 auto; */
}
.bnt-return {
    /* justify-content:flex-end; */
    text-decoration: none;  
    margin-top: 10px; 
    text-align: center;
    border-radius: 10px;
    padding:14px 20px;
    background-color: transparent;
    border: 2px solid black;
    font-size: 17px;
}
.bnt-return:hover {
    background-color: white;
    color: black;
    opacity: 0.8;
}

.content-form form label {
    display: inline-block;
}

/* @media (min-width: 600px) {
    .content-form {
      width: 65%;
    }
  } */
  @media (max-width: 600px) {
    .btn-container {
      position: inherit;
      display: flex;
      justify-content: center    
    }
    .banner-container {
        height: 250px;
    }
    .about-us {
        height: 500px;
        margin: 0 auto;
        
    }
  }


/* ESTILOS VALIDACION */

.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
}
/* ESTILOS PAGINA NOSOTROS */

.cuadro1 {
    
    height: 460px;
    background-color: rgb(62, 206, 250);
    font-family: 'Varela round';
    font-size: 25px;
    color: white;
    text-align: justify;
    border: 30px rgb(62, 206, 250);
    padding: 70px;
    margin: 20px;
    
}

.cuadro2 {
    
    height: 1000px;
    width: 1000px;
    font-family: 'Varela round';
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: justify;
    border: 30px rgb(62, 206, 250);
    padding: 70px;
    
    
}

